body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}
nav a.active {
    color: #fff;
    background-color: #007bff;
}
nav a:hover {
    background-color: #ddd;
    color: #000;
}
main {
    padding: 20px;
    text-align: center;
}
.principal {
    width: 450px;
    height: 300px;
}
.PAGINA1 {
    width: 300px;
    height: 300px;
}
.P1 {
    background-color: #9e9e9e;
}
.P2 {
    background-color: #9e9e9e;
}

.pagina2 {
    width: 300px;
    height: 300px;
}
.card {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
.p3 {
    width: 400px;
    height: 300px;
}
.PAGINA3 {
    background-color: azure;
}